.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.tool-bar {
  position: absolute;
  height: 25px;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  opacity: 0.99;
  z-index: 1;
}
.icon {
  cursor: pointer;
  opacity: 0.9;
}
.icon:hover {
  cursor: pointer;
  opacity: 0.9;
}
.icon-2 {
  cursor: pointer;
  margin-left: 5px;
  opacity: 0.75;
}
.icon-2:hover {
  opacity: 1;
}
