* {
  --active: #00ad55;
  --active-hover: #05db6e;
  --deactive: #6e6e6e;
  --deactive-hover: #777777;
  --sidebar-background: #29303b;
  --sidebar-hover-background: #475364;
  --sidebar-active-background: #3e495a;
  --navigate-active: #8139ff;
  --navigate-inactive: #707683;
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("assets/fonts/Poppins.ttf") format("truetype");
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poppins";
}
a,
a:active,
a:focus,
a:hover {
  text-decoration: none !important;
}
.popup-content {
  width: unset;
  max-width: 80vw;
}
