.container {
  margin-top: 20px;
  width: 100%;
  height: 100%;

  .inputFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .inputRow {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      .inputField {
        width: 40%;
        display: flex;
        align-items: center;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        input {
          width: 300px;
          height: 60%;
          border-style: hidden;
          outline: none;
          margin-left: 5px;
          border-bottom: 1px solid black;
          font-size: 15px;
        }
        select {
          width: 300px;
          height: 100%;
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }
  .tfooter {
    height: 50px;
    cursor: pointer;
    &:hover {
      background-color: #fafafa;
    }
  }
  .buttonHolder {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .createButton {
      cursor: pointer;
      color: white;
      padding: 10px 10px;
      background-color: var(--active);
      border-radius: 10px;
      border: none;
      align-self: end;
      &:hover {
        background-color: var(--active-hover);
      }
    }
  }
}
.tableContainer {
  margin-top: 30px;
}
.next {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: var(--active);
}
