.container {
  padding: 10px;

  display: flex;
  flex-direction: column;
  .form {
    padding-top: 20px;
    .bar {
      display: flex;
      justify-content: space-between;
    }
  }
}
.buttonHolder {
  cursor: pointer;
  color: white;
  padding: 10px 10px;
  background-color: var(--active);
  border: none;
  border-radius: 10px;
  align-self: end;
  &:hover {
    background-color: var(--active-hover);
  }
}
.footer {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
